<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="On" internalLogFile="${basedir}/logs/nlog-internal.log">

	<targets>
		<target xsi:type="File" name="FileLog" fileName="${basedir}/logs/Info.log"
				layout="${longdate} [${pad:padding=-5:inner=${level:uppercase=true}}] ${logger} - ${message} ${onexception:${newline}${exception}}"/>

		<target xsi:type="Console" name="ConsoleLog"
			layout="${longdate} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${message}"/>

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="FileLog" />
		<logger name="*" minlevel="Info" writeTo="ConsoleLog" />
	</rules>
</nlog>