@page
@model WebHooks.UI.Pages.Work.DetailsModel
@{
    ViewData["Title"] = "详情";
}

<div class="row">
    <div class="col-12">
        <h1>
            详情
            <a asp-page="/Platform/Index" class="btn btn-light">
                返回列表
            </a>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>
            基本信息
            <button type="button" class="btn btn-sm btn-primary">
                编辑
            </button>
        </h2>
    </div>
</div>