@page
@model WebHooks.UI.Pages.Work.IndexModel
@{
    ViewData["Title"] = "所有任务";
}

<div class="row">
    <div class="col-12">
        <h1>
            所有任务
        </h1>
    </div>

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>

                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</div>