@page
@model WebHooks.UI.Pages.Project.IndexModel
@{
}

<h1>
    项目
</h1>

<div>
    任务列表
    <ul>
        <li>
            任务一
        </li>
        <li>
            任务二
        </li>
    </ul>
</div>