.toolbar .btn {
    margin-right: 1rem;
}

.w-50px {
    width: 50px;
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}


.w-200px {
    width: 200px;
}

.empty-table {
    height: 50px;
    font-size: 24;
    text-align: center;
}